<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ver detalles de Reservación</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Detalles de Reservación
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="<%=typeof pclassC == 'undefined' ? 'active' : pclassC%>"><a href="#criterios" data-toggle="tab">Criterios de Búsqueda</a>
                        </li>
                        <li class="<%=typeof pclassR == 'undefined' ? 'disabled' : pclassR%>"><a href="#detalles" data-toggle="tab">Detalles Reservación</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade <%=typeof tclassC == 'undefined' ? 'in active' : tclassC%>" id="criterios">
                            <h4>Ingrese su número de cedula para realizar la consulta de su reservación</h4>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <form action="/cliente/buscar" method="POST" autocomplete="off">

                                        <div class="form-group">
                                            <label>Cédula de Identidad</label>
                                            <input class="form-control" type="text" placeholder="Cédula" maxlength="10" required onkeydown="return numberOnly(event);" name="cedula" id="cedula">
                                        </div>

                                        <button type="submit" class="btn btn-default">Buscar Reservaciones</button>
                                        <button type="reset" class="btn btn-default">Limpiar Campo</button>
                                    </form>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>




                        <div class="tab-pane fade <%=typeof tclassR == 'undefined' ? ' ' : tclassR%>" id="detalles">
                            <h4>Verifique los datos de la reservación</h4>
                            <div class="centerTable">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Habitación Seleccionada
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="conjHab">
                                                        <thead>
                                                            <tr>
                                                                <th>Número</th>
                                                                <th>Piso</th>
                                                                <th>Tipo</th>
                                                                <th>Desayuno</th>
                                                                <th>WiFi</th>
                                                                <th>Buena Vista</th>
                                                                <th>Precio</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (typeof habitacionesF != "undefined") { %>
                                                                <% _.each(habitacionesF, function (habitacion) { %>
                                                                    <% if (habitacion.estado == 1) { %>
                                                                        <tr>
                                                                            <td>
                                                                                <%= habitacion.id %>
                                                                            </td>
                                                                            <td>
                                                                                <%= habitacion.piso %>
                                                                            </td>
                                                                            <td>
                                                                                <%= habitacion.tipo %>
                                                                            </td>
                                                                            <td>
                                                                                <% if (habitacion.desayuno == 1) { %>
                                                                                    Incluido
                                                                                    <% } else { %>
                                                                                        No Incluido
                                                                                        <% } %>
                                                                            </td>
                                                                            <td>
                                                                                <% if (habitacion.wifi == 1) { %>
                                                                                    Sí
                                                                                    <% } else { %>
                                                                                        No
                                                                                        <% } %>
                                                                            </td>
                                                                            <td>
                                                                                <% if (habitacion.buena_vista == 1) { %>
                                                                                    Sí
                                                                                    <% } else { %>
                                                                                        No
                                                                                        <% } %>
                                                                            </td>
                                                                            <td>
                                                                                <%= habitacion.precio %>
                                                                            </td>
                                                                        </tr>

                                                                        <% } %>
                                                                            <% }) %>
                                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Datos Cliente
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="conjHab">
                                                        <thead>
                                                            <tr>
                                                                <th>Nombres</th>
                                                                <th>Apellidos</th>
                                                                <th>Cédula</th>
                                                                <th>Email</th>
                                                                <th>Dirección</th>
                                                                <th>Teléfono</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% if (typeof clientes != "undefined") { %>
                                                                <% _.each(clientes, function (cliente) { %>

                                                                    <tr>
                                                                        <td>
                                                                            <%= clientes.nombres %>
                                                                        </td>

                                                                        <td>
                                                                            <%= clientes.apellidos %>
                                                                        </td>

                                                                        <td>
                                                                            <%= clientes.cedula %>
                                                                        </td>
                                                                        <td>
                                                                            <%= clientes.email %>
                                                                        </td>
                                                                        <td>
                                                                            <%= clientes.direccion %>
                                                                        </td>
                                                                        <td>
                                                                            <%= clientes.telefono %>
                                                                        </td>
                                                                    </tr>
                                                                    <% }) %>
                                                                        <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Datos Reserva
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="conjHab">
                                                        <thead>
                                                            <tr>
                                                                <th>Fecha Reserva</th>
                                                                <th>Días Estadía</th>
                                                                <th>Número Tarjeta</th>
                                                                <th>Acompañantes</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <%= typeof fecha_reserva == 'undefined' ? ' ' : fecha_reserva %>
                                                                </td>
                                                                <td>
                                                                    <%= typeof dias == 'undefined' ? ' ' : dias %>
                                                                </td>
                                                                <td>
                                                                    <%= typeof num_tarjeta == 'undefined' ? ' ' : num_tarjeta %>
                                                                </td>
                                                                <td>
                                                                    <%= typeof personas == 'undefined' ? '0' : personas %>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->

                                <form action="/seleccionarhabitacion/register" method="POST">
                                    <input type="hidden" id="hab" value="" name="id_hab">
                                    <button type="submit" class="btn btn-default">Registrar Reservación</button>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->