<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Realizar Reservación</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reservación
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="<%=typeof pclassC == 'undefined' ? 'active' : pclassC%>"><a href="#criterios" data-toggle="tab">Criterios de Búsqueda</a>
                        </li>
                        <li class="<%=typeof pclassS == 'undefined' ? 'disabled' : pclassS%>"><a href="#seleccion" data-toggle="tab">Seleccionar Habitación</a>
                        </li>
                        <li class="<%=typeof pclassD == 'undefined' ? 'disabled' : pclassD%>"><a href="#datos" data-toggle="tab">Ingresar Datos</a>
                        </li>
                        <li class="<%=typeof pclassR == 'undefined' ? 'disabled' : pclassR%>"><a href="#registrar" data-toggle="tab">Registrar Reservación</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade <%=typeof tclassC == 'undefined' ? 'in active' : tclassC%>" id="criterios">
                            <h4>Seleccione los criterios de búsqueda para su habitación</h4>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <form action="/busquedahabitacion/register" method="POST">
                                        <div class="form-group">
                                            <label>Precio Mínimo</label>
                                            <input class="form-control" type="number" placeholder="Min" min="0" step="100" required onkeydown="return false;" name="minPrice">
                                        </div>
                                        <div class="form-group">
                                            <label>Precio Máximo</label>
                                            <input class="form-control" type="number" placeholder="Max" min="100" step="100" required onkeydown="return false;" name="maxPrice">
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo Habitación</label>
                                            <select class="form-control" required name="roomType">
                                                <option>Simple</option>
                                                <option>Doble</option>
                                                <option>Triple</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-default">Buscar Habitaciones</button>
                                        <button type="reset" class="btn btn-default">Limpiar Campos</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade <%=typeof tclassS == 'undefined' ? ' ' : tclassS%>" id="seleccion">
                            <h4>Seleccione una de nuestras habitaciones disponibles:</h4>
                            <div class="centerTable">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Habitaciones Disponibles
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="conjHab">
                                                        <thead>
                                                            <tr>
                                                                <th>Número</th>
                                                                <th>Piso</th>
                                                                <th>Tipo</th>
                                                                <th>Desayuno</th>
                                                                <th>WiFi</th>
                                                                <th>Buena Vista</th>
                                                                <th>Precio</th>
                                                                <th>Seleccionar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (typeof habitaciones != "undefined") { %>
                                                                <% _.each(habitaciones, function (habitacion) { %>
                                                                    <% if (habitacion.estado == 1) { %>
                                                                        <tr>
                                                                            <td>
                                                                                <%= habitacion.id %>
                                                                            </td>
                                                                            <td>
                                                                                <%= habitacion.piso %>
                                                                            </td>
                                                                            <td>
                                                                                <%= habitacion.tipo %>
                                                                            </td>
                                                                            <td>
                                                                                <% if (habitacion.desayuno == 1) { %>
                                                                                    Incluido
                                                                                    <% } else { %>
                                                                                        No Incluido
                                                                                        <% } %>
                                                                            </td>
                                                                            <td>
                                                                                <% if (habitacion.wifi == 1) { %>
                                                                                    Sí
                                                                                    <% } else { %>
                                                                                        No
                                                                                        <% } %>
                                                                            </td>
                                                                            <td>
                                                                                <% if (habitacion.buena_vista == 1) { %>
                                                                                    Sí
                                                                                    <% } else { %>
                                                                                        No
                                                                                        <% } %>
                                                                            </td>
                                                                            <td>
                                                                                <%= habitacion.precio %>
                                                                            </td>
                                                                            <td align="center">
                                                                                <div class="checkbox">
                                                                                    <label>
                                                                                        <input type="checkbox" value="" onclick="patito(this);">
                                                                                    </label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>

                                                                        <% } %>
                                                                            <% }) %>
                                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->
                                <form action="/seleccionarhabitacion/register" method="POST">
                                    <input type="hidden" id="hab" value="" name="id_hab">
                                    <button type="submit" class="btn btn-default">Siguiente</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade <%=typeof tclassD == 'undefined' ? ' ' : tclassD%>" id="datos">
                            <h4>Messages Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade <%=typeof tclassR == 'undefined' ? ' ' : tclassR%>" id="registrar">
                            <h4>Settings Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


<script>
function patito (x) {
    var row = x.parentElement.parentElement.parentElement.parentElement.rowIndex;
    var id = document.getElementById("conjHab").rows[row].cells[0].innerHTML;
    
    document.getElementById("hab").setAttribute('value', id.trim());
}
</script>